.formCost {
    overflow: hidden;
}
.formCost label {
	margin-right: 5px;
}
.formCost input {
	text-align: center;
}
.formCost input:focus {
	color: #c2467b;
}
.sliderCont {
    overflow: hidden;
    padding: 10px 40px 10px 47px;
}		
.ui-slider {
	position: relative;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 21px;
	height: 21px;
	background: url(../images/slider.png) no-repeat;
	cursor: pointer
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	overflow: hidden;
}
.ui-slider-horizontal {
	 height: 5px;
}
.ui-slider-horizontal .ui-slider-handle { 
	top: -8px;
	margin-left: -10px;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min { 
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
.ui-widget-header { 
	background: #c2467b;
}
.ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}